.bottom-ali{
    bottom: 90px;
    
}
body{
    background-size: cover;
    overflow-x: hidden;
}
.ali-drop{
display: none;
}
.ali-list{
    margin: 0;
}
.text-ali{
text-decoration: none;
color: black;
}
.bg-ali{
    background-color: white;
}
.tex-font{
    font-size: smaller;
}
.text-man{
    text-decoration: none ;
    font-size: large;
    color: black;
}
